# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll
*.dylib
*.pyd

# Virtual environment
venv/
.env/
.venv/
Pipfile.lock
poetry.lock

# Logs and local database files
*.log
*.sqlite3
*.db

# Distribution/build artifacts
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# IDE/editor-specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Custom project-specific ignores
_data/      # Ignore "data" folder
_*.py       # Ignore Python files starting with "_"
